/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #000;

}


header {
  color:#fff;
  padding:1em;
  margin:0;
  margin-bottom:1em;
  display:flex;
  align-items:center;
  justify-content: space-between;

}

nav ul {
display:flex;
list-style: none;
margin:0;

}

nav ul li {
display: flex;
margin: 0;
margin-left:1em;
padding: .6em 1em;
font-size: 1.5em;

}
article {
  padding: 20px 40px;

}


section{
  max-width: 600px;

}

img {
    max-width: 100%; /* DO NOT delete or change this line */

}

#cougar{
  background: #b26219;
  display:flex;
  flex-direction: row;
  margin:0;
  flex: 1 1 0;
  align-items: stretch;

}

#lion{
background: #ffd5ae;
display:flex;
align-items: stretch;
flex-direction: row;
margin:0;
flex: 1 1 0;

}

#tiger{
background: #ffbd82;
display:flex;
align-items: stretch;
flex-direction: row;
margin:0;
flex: 1 1 0;
}

.text{

line-height: 1.5em;
box-sizing: border-box;
padding: 1em;

}
.text h2{
  display: flex;
  align-items: stretch;
  flex: 1 1 0;
  margin: 0;

}

footer {
color:#333;
text-align: center;

}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
}
